#detail-product .selectItems{
    display: none;
}

#detail-product .active .selectItems{
    display: block;
} 

#detail-product .active .arrowSelect{
    transform: rotate(90deg);
} 

/* membuat container atau wadah dari scrollbar dengan lebar 20px */
.scrollbar-custom::-webkit-scrollbar {
    width: 9px;
}

/* membuat background dari scrollbar */
.scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
}

/* membuat styling pada batang atau bar scrollbar */
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

/* warna akan berubah menjadi abu mudah saat kursor diarahkan  */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}